suite_namespace: frontend\tests\acceptance
actor: AcceptanceTester
modules:
    enabled:
        - WebDriver:
            url: http://cinema.com
            browser: firefox
        - Yii2:
            part: init
