html,
body {
    height: 100%;
}


.film-promo {
    width: 30%;
    float: left;
    padding-right: 5%;
}

.film-view{
    width: 70%;
    float: right;
    padding-left: 3%;
    padding-right: 3%;
}
.star
{
    float:left;
}
.crop{
    float:left;
    margin:0px 0px 0px 0px;
    overflow:hidden; /* this is important */

}

.similar-film img  {
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
}


